@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap&subset=latin-ext');

html {
  box-sizing: border-box;
  background: $blue;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #fff;
  background: $blue;
  font-family: Roboto;
  font-weight: 500;
}

.counter {
  width: 280px;
  height: 280px;
  background: url('../assets/img/water-glass.svg') center center;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 112px;
  &__value {
    display: block;
    padding-top: 64px;
  } 
}

.heading {
  font-size: 55px;
  margin: 0 0 64px 0;
  padding: 0;
}